@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .promo {
        .info_title {
            font-size: 60px;
        }

        .info_title_mod {
            transform: translateX(-80px);
        }

        .sub__title {
            margin-bottom: 4px;
        }
    }


    .menu {
        .list_descr {
            left: 400px;
        }
    }


    .welcome {
        padding: 120px 0 224px 40px;

        &__images__img2 {
            width: 142px;
            top: 220px;
            right: 290px;
        }

        &__images__img3 {
            width: 330px;
        }

        &__images__img4 {
            width: 163px;
            top: 362px;
            left: 127px;
        }

        &__images__img1 {
            width: 190px;
            top: 50px;
            left: 60px;
        }
    }

    .shopping {
        padding: 0 0 161px 0;

        &__img {
            width: 100%;
        }

        &__items {
            gap: 40px;
        }
    }

    .discount__modal {
        width: 630px;
        height: 330px;
        top: 22%;
        grid-template-columns: 281px 349px;
    }

    .modal__humen {
        img {
            height: 330px;
        }
    }

    .discount__info {
        padding: 10px 20px 0 20px;
    }

    .discount__header {
        img {
            height: 50px;
        }
    }

    .discount__title {
        margin-top: 20px;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .discount__procent {
        width: 90px;
        top: -42px;
        right: 57px;
    }


    .discount__text {
        margin-bottom: 30px;
        font-size: 14px;
    }

    .discount__descr {
        input {
            width: 300px;
            height: 40px;
            margin-bottom: 10px;
        }

        button {
            width: 300px;
            height: 40px;
        }
    }

    .action {
        &__wrapper {
            grid-template-columns: 496px 496px;

            &__descr {
                width: 496px;
                height: 386px;
                padding: 85px 120px 115px 120px
            }

            &__img {
                img {
                    width: 496px;
                }
            }
        }

        &__button {
            margin: 20px auto 0 auto;
        }

        &__position {
            left: 50%;
            transform: translateX(-50%);
            bottom: -230px;
        }

        &__descr {
            right: 50px;
        }

        &__procent {
            height: 50px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        &__game {
            height: 65px;
        }
    }

    .carusel {

        &__header {
            font-size: 60px;
        }

        &__boy {
            right: 376px;
            width: 140px;
            top: -125px;
        }

        &__title {
            font-size: 35px;
            margin-top: 5px;
        }

        &__subtitle {
            font-size: 12px;
        }
    }

    .carusel .slide-img {
        padding-left: 50px;
    }

    .carusel .slide__clothes {
        width: 335px;
        transform: translateX(51px);
    }

    .carousel .slick-arrow {
        position: absolute;
        top: 250px;
        font-size: 0;
        width: 32px;
        height: 32px;
        z-index: 20;
        border: none;
        outline: none;
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .menu {
        padding: 20px 60px 60px 40px;

        .wrapper__position {
            margin-top: 40px;
        }

        .shop_img {
            width: 400px;
        }

        .position {
            top: 200px;
            left: -160px;
        }
    }

    .promo {
        &__logo {
            img {
                width: 110px;
                height: 70px;
            }
        }

        &__nav {
            gap: 15px;
            margin-top: 16px;
        }

        &__detail {
            gap: 15px;
        }

        .wrapper__position {
            margin-top: 70px;
        }

        .main_list {
            font-size: 30px;
            margin-top: 50px;
        }

        .list_descr {
            top: 150px;
            left: 240px;
            font-size: 15px;
        }

        .list_descr.roompers {
            top: 140px;
        }

        .list_descr.hats {
            top: 130px;
        }

        .list_descr.shopAll {
            top: 120px;
        }

        .shop_img {
            width: 320px;
        }

        .position {
            top: 130px;
        }

        &__footer {
            margin-top: 60px;
        }
    }



    .welcome {
        padding: 120px 0 150px 0;

        &__wrapper {
            grid-template-columns: 265px 190px;
            gap: 20px;
        }

        &__images__img3 {
            width: 220px;
            top: 25px;
        }

        &__images__img2 {
            width: 100px;
            right: 180px;
            top: 170px;
        }

        &__images__img1 {
            width: 160px;
            top: 50px;
            left: -50px;
        }

        &__images__img4 {
            width: 100px;
            top: 276px;
            left: 13px;
        }

        &__descr__title {
            font-size: 40px;
        }

        &__descr__subtitle {
            margin-bottom: 5px;
        }

        &__button {
            margin-top: 0;
        }

        &__descr__text {
            margin-bottom: 40px;
        }
    }

    .care {
        padding: 100px 0 40px 0;

        &__wrapper {
            padding: 0 10px;
        }

        &__subtitle {
            margin-bottom: 5px;
        }

        &__title {
            font-size: 30px;
            margin-bottom: 0;
        }

        &__item {
            width: 280px;

            &__number {
                font-size: 30px;
            }

            &__title {
                font-size: 14px;
            }

            &__li {
                margin-top: 20px;
                margin-bottom: 5px;
                gap: 5px;
            }
        }

        &__img {
            right: 10px;

            &__main {
                width: 300px;
            }

            &__magic {
                top: -93px;
                right: 16px;
            }
        }

        &__descr-main {
            width: 300px;
        }

        &__descr-second {
            top: 243px;
            right: 0px;
        }

        &__images {
            margin-left: 160px;

            &__img2 {
                width: 120px;
                top: 40px;
                right: 135px;
            }

            &__img1 {
                width: 180px;
            }

            &__img3 {
                width: 14px;
                top: 70px;
                right: 250px;
            }

            &__img4 {
                width: 70px;
                top: 17px;
                right: 262px;
            }

            &__img5 {
                width: 28px;
                top: 33px;
                right: 285px;
            }
        }
    }

    .shopping {
        padding: 0 0 130px 0;

        &__title {
            font-size: 35px;
            margin-top: 10px;
        }

        &__items {
            gap: 30px;
        }

        &__item {
            font-size: 14px;
        }
    }

    .discount__modal {
        width: 487px;
        height: 250px;
        top: 22%;
        grid-template-columns: 210px 275px;
    }

    .modal__humen {
        img {
            height: 247px;
        }
    }

    .discount__info {
        padding: 0px 5px 0 10px;
    }

    .discount__header {
        img {
            height: 50px;
        }
    }

    .discount__close {
        margin-right: 25px;
    }

    .discount__title {
        margin-top: 15px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .discount__text {
        margin-bottom: 5px;
        font-size: 12px;
    }

    .discount__descr {
        input {
            width: 260px;
            height: 30px;
            margin-bottom: 5px;
        }

        button {
            width: 260px;
            height: 30px;
        }
    }

    .discount__procent {
        width: 70px;
        top: -30px;
    }

    .action {
        padding-bottom: 380px;

        &__wrapper {
            grid-template-columns: 384px 384px;

            &__descr {
                width: 384px;
                height: 299px;
                padding: 85px 30px 115px 30px;
            }

            &__img {
                img {
                    width: 384px;
                }
            }
        }

        &__game {
            height: 50px;
        }

        &__procent {
            height: 40px;
            margin-top: 7px;
            margin-bottom: 10px;
        }

        &__button {
            margin: 10px auto 0 auto;
        }

        &__descr {
            width: 312px;
            font-size: 12px;
            font-weight: 400;
            line-height: 115%;
            bottom: 323px;
            right: 30px;
        }

        &__position {
            width: 200px;
            right: 92px;
            bottom: -160px;
        }
    }




    .carusel {
        &__header {
            font-size: 50px;
            margin-bottom: 110px;
        }

        &__boy {
            right: 320px;
            width: 130px;
            top: -117px;

        }
    }

    .carusel .slide-img {
        padding-left: 0;
    }

    .carusel .slide__clothes {
        width: 385px;
        transform: translateX(0);
    }

    .carousel .slick-arrow {
        position: absolute;
        top: 180px;
        font-size: 0;
        width: 32px;
        height: 32px;
        z-index: 20;
        border: none;
        outline: none;
    }

}



@media (max-width: 768px) {
    .container {
        max-width: 540px;
        padding: 0 10px;
    }

    .adv__wrapper {
        font-size: 12px;
    }

    .menu {
        padding: 20px 30px 63px 30px;

        .wrapper__position {
            margin-top: 70px;
        }

        .main_list {
            font-size: 30px;
            margin-top: 50px;
        }

        .list_descr {
            top: 150px;
            left: 240px;
            font-size: 15px;
        }

        .list_descr.roompers {
            top: 140px;
        }

        .list_descr.hats {
            top: 130px;
        }

        .list_descr.shopAll {
            top: 120px;
        }

        .shop_img {
            width: 320px;
        }

        .position {
            top: 130px;
        }
    }

    .promo {


        &__info {
            margin-top: 60px;
        }

        &__logo {
            img {
                width: 100px;
            }
        }

        &__nav {
            gap: 15px;
        }

        &__detail {
            display: none;
        }

        .info_title {
            font-size: 45px;
        }

        .info_title_mod {
            margin-top: -12px;
        }

        .sub__title {
            margin-bottom: 0;
        }

        .info_text {
            width: 260px;
        }
    }

    .care {

        &__wrapper {
            padding: 0;
        }

        &__subtitle {
            margin-bottom: 0;
        }

        &__title {
            font-size: 25px;
        }

        &__item {
            width: 230px;

            &__li {
                margin-top: 10px;
                margin-bottom: 0;
            }
        }

        &__img {
            right: 0;

            &__main {
                width: 240px;
            }

            &__magic {
                width: 90px;
                top: -74px;
                right: 6px;
            }
        }

        &__descr-second {
            top: 195px;
        }

        &__images {
            margin-left: 60px;
            width: 180px;
            margin-top: 50px;

            &__img1 {
                width: 140px;
            }

            &__img2 {
                width: 110px;
                top: 10px;
                right: 100px;
            }

            &__img3 {
                width: 10px;
                top: 40px;
                right: 194px;
            }

            &__img4 {
                width: 55px;
                top: -4px;
                right: 193px;
            }

            &__img5 {
                width: 23px;
                top: 8px;
                right: 209px;
            }
        }
    }


    .shopping {
        &__img {
            margin-bottom: 16px;
        }

        &__items {
            gap: 20px;
        }

        &__item {
            font-size: 7px;
        }
    }

    .action {
        &__wrapper {
            grid-template-columns: 288px 288px;

            &__descr {
                width: 288px;
                height: 224px;
                padding: 85px 20px 115px 20px;
            }

            &__img {
                img {
                    width: 288px;
                }
            }

            &__text {
                font-size: 12px;
            }
        }

        &__procent {
            height: 30px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        &__game {
            height: 40px;
        }

        &__main {
            height: 35px;
        }

        &__return {
            height: 35px;
            width: 35px;
        }

        &__descr {
            width: 240px;
            font-size: 10px;
            bottom: 332px;
            right: 14px;
        }

        &__position {
            width: 150px;
            right: 70px;
            bottom: -120px;
        }
    }


}





@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }




    .menu {
        padding: 0px 10px 0px 10px;

        .wrapper__position {
            margin-top: 100px;
        }

        .shop_img {
            width: 240px;
        }

        .main_list {
            font-size: 26px;
            margin-top: 70px;
        }

        .list_descr {
            left: 210px;
        }

        .position {
            top: 80px;
            left: -150px;
        }
    }

    .adv__wrapper {
        font-size: 7px;
        height: 25px;
    }

    .promo {

        header {
            justify-content: center;
        }

        &__logo {
            display: none;
        }

        &__nav {
            margin-top: -20px;
            gap: 10px;

            &__item {
                font-size: 10px;
            }
        }

        &__detail {
            display: none;
        }

        &__info {
            margin-top: 120px;
            margin-left: 35%;
        }

        .info_title_mod {
            transform: translateX(-41px);
        }

        .info_title {
            line-height: 40px;
            font-size: 25px;
        }

        .info_text {
            width: 200px;
        }

        &__footer {
            margin-top: 40px;
        }
    }

    .welcome {
        padding: 50px 0 150px 0;

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__descr {
            margin-bottom: 50px;
        }

        &__images {
            display: flex;
            justify-content: center;
            order: 3;

            &__img3 {
                position: static;
                transform: translateX(13%);
            }

            &__img2 {
                left: 16%;
                top: 145px;
            }

            &__img1 {
                top: 19px;
                left: 5%;
            }

            &__img4 {
                top: 251px;
                left: 31%;
            }
        }
    }

    .care {
        padding: 0px 0 130px 0;

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__item {
            width: 100%;
        }

        &__images {
            margin-top: 60px;
            width: 200px;
            height: 164px;
            margin-bottom: 40px;
        }

        &__img {
            position: static;
            order: 3;

            &__main {
                width: 100%;
            }

            &__magic {
                position: absolute;
                top: 798px;
                right: -3px;
            }
        }

        &__descr-second {
            position: static;
            margin-bottom: 40px;
        }
    }

    .discount__header {
        justify-content: end;

        img {
            display: none;
        }
    }

    .modal__humen {
        img {
            width: 150px;
            height: 220px;
        }
    }

    .discount__modal {
        grid-template-columns: 150px 145px;
        top: 30%;
        width: 300px;
        height: 220px;
    }

    .discount__title {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .discount__text {
        line-height: 100%;
    }

    .discount__procent {
        width: 26px;
        top: -9px;
        right: 28px;
    }

    .discount__descr {
        input {
            width: 130px;
        }

        button {
            width: 120px;
        }
    }

    .shopping {
        padding: 0 0 100px 0;
    }

    .action {
        padding-bottom: 150px;

        &__wrapper {
            grid-template-columns: 1fr;
            gap: 0;

            &__descr {
                width: 100%;
                height: 250px;
            }

            &__img {
                img {
                    width: 100%;
                }
            }
        }

        &__position {
            display: none;
        }

        &__descr {
            font-size: 9px;
            width: 260px;
            left: calc(50% + 26px);
            transform: translateX(-50%);
            bottom: 110px;
        }
    }

    .carusel {
        &__header {
            font-size: 25px;
            margin-bottom: 70px;
        }

        &__boy {
            right: 164px;
            width: 60px;
            top: -52px;

        }

        &__subtitle {
            font-size: 10px;
        }

        &__title {
            font-size: 30px;
        }

        &__background {
            height: 270px;
        }
    }

    .carusel .slide-img {
        padding-left: 50px;
        width: 230px;
        height: 180px;
    }

    .carusel .slide__descr {
        margin-left: 60px;
        font-size: 12px;
    }

    .carusel .slide__button {
        gap: 0;
        margin-left: 56px;
    }

    .carusel .slide__item__img {
        width: 30px;
        margin-right: 6px;
    }

    .carusel .slide__item__title {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .carusel .slide__item__price {
        font-size: 12px;
    }

    .carusel .slide__clothes {
        width: 181px;
        transform: translateX(50px);
        height: 128px;
    }

    .carousel .slick-arrow {
        position: absolute;
        top: 110px;
        right: 1px;
        font-size: 0;
        width: 32px;
        height: 32px;
        z-index: 20;
        border: none;
        outline: none;
    }

    .carousel .slick-dots {
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            list-style: none;
        }

        button {
            font-size: 0;
            width: 40px;
            height: 2px;
            border: none;
            border: 2px solid rgba(51, 65, 57, 0.3);
        }
    }

    .carusel .carusel__leaf {
        left: -23%;
        bottom: -100px;
    }

    .carousel .slick-arrow.slick-next {
        right: 5px;
    }

    .carousel .slick-arrow.slick-prev {
        right: 50px;
    }

}