@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .promo {
        .info_title {
            font-size: 60px;
        }

        .info_title_mod {
            transform: translateX(-80px);
        }

        .sub__title {
            margin-bottom: 4px;
        }
    }


    .menu {
        .list_descr {
            left: 400px;
        }
    }


    .welcome {
        padding: 120px 0 224px 40px;

        &__images__img2 {
            width: 142px;
            top: 220px;
            right: 290px;
        }

        &__images__img3 {
            width: 330px;
        }

        &__images__img4 {
            width: 163px;
            top: 362px;
            left: 127px;
        }

        &__images__img1 {
            width: 190px;
            top: 50px;
            left: 60px;
        }
    }


}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .menu {
        padding: 20px 60px 60px 40px;

        .wrapper__position {
            margin-top: 40px;
        }

        .shop_img {
            width: 400px;
        }

        .position {
            top: 200px;
            left: -160px;
        }
    }

    .promo {
        &__logo {
            img {
                width: 110px;
                height: 70px;
            }
        }

        &__nav {
            gap: 15px;
            margin-top: 16px;
        }

        &__detail {
            gap: 15px;
        }

        .wrapper__position {
            margin-top: 70px;
        }

        .main_list {
            font-size: 30px;
            margin-top: 50px;
        }

        .list_descr {
            top: 150px;
            left: 240px;
            font-size: 15px;
        }

        .list_descr.roompers {
            top: 140px;
        }

        .list_descr.hats {
            top: 130px;
        }

        .list_descr.shopAll {
            top: 120px;
        }

        .shop_img {
            width: 320px;
        }

        .position {
            top: 130px;
        }

        &__footer {
            margin-top: 60px;
        }
    }



    .welcome {
        padding: 120px 0 180px 0px;

        &__wrapper {
            grid-template-columns: 265px 190px;
            gap: 20px;
        }

        &__images__img3 {
            width: 220px;
            top: 25px;
        }

        &__images__img2 {
            width: 100px;
            right: 180px;
            top: 170px;
        }

        &__images__img1 {
            width: 160px;
            top: 50px;
            left: -50px;
        }

        &__images__img4 {
            width: 100px;
            top: 276px;
            left: 13px;
        }

        &__descr__title {
            font-size: 40px;
        }

        &__descr__subtitle {
            margin-bottom: 5px;
        }

        &__button {
            margin-top: 0;
        }

        &__descr__text {
            margin-bottom: 40px;
        }
    }

    .care {
        &__wrapper {
            padding: 0 10px;
        }

        &__subtitle {
            margin-bottom: 5px;
        }

        &__title {
            font-size: 30px;
            margin-bottom: 0;
        }

        &__item {
            width: 280px;

            &__number {
                font-size: 30px;
            }

            &__title {
                font-size: 14px;
            }

            &__li {
                margin-top: 20px;
                margin-bottom: 5px;
                gap: 5px;
            }
        }

        &__img {
            right: 10px;

            &__main {
                width: 300px;
            }

            &__magic {
                top: -93px;
                right: 16px;
            }
        }

        &__descr-main {
            width: 300px;
        }

        &__descr-second {
            top: 243px;
            right: 0px;
        }

        &__images {
            margin-left: 160px;

            &__img2 {
                width: 120px;
                top: 40px;
                right: 135px;
            }

            &__img1 {
                width: 180px;
            }

            &__img3 {
                width: 14px;
                top: 70px;
                right: 250px;
            }

            &__img4 {
                width: 70px;
                top: 17px;
                right: 262px;
            }

            &__img5 {
                width: 28px;
                top: 33px;
                right: 285px;
            }
        }
    }

}


@media (max-width: 768px) {
    .container {
        max-width: 540px;
        padding: 0 10px;
    }

    .menu {
        padding: 20px 30px 63px 30px;

        .wrapper__position {
            margin-top: 70px;
        }

        .main_list {
            font-size: 30px;
            margin-top: 50px;
        }

        .list_descr {
            top: 150px;
            left: 240px;
            font-size: 15px;
        }

        .list_descr.roompers {
            top: 140px;
        }

        .list_descr.hats {
            top: 130px;
        }

        .list_descr.shopAll {
            top: 120px;
        }

        .shop_img {
            width: 320px;
        }

        .position {
            top: 130px;
        }
    }

    .promo {


        &__info {
            margin-top: 60px;
        }

        &__logo {
            img {
                width: 100px;
            }
        }

        &__nav {
            gap: 15px;
        }

        &__detail {
            display: none;
        }

        .info_title {
            font-size: 45px;
        }

        .info_title_mod {
            margin-top: -12px;
        }

        .sub__title {
            margin-bottom: 0;
        }

        .info_text {
            width: 260px;
        }
    }

    .care {

        &__wrapper {
            padding: 0;
        }

        &__subtitle {
            margin-bottom: 0;
        }

        &__title {
            font-size: 25px;
        }

        &__item {
            width: 230px;

            &__li {
                margin-top: 10px;
                margin-bottom: 0;
            }
        }

        &__img {
            right: 0;

            &__main {
                width: 240px;
            }

            &__magic {
                width: 90px;
                top: -74px;
                right: 6px;
            }
        }

        &__descr-second {
            top: 195px;
        }

        &__images {
            margin-left: 60px;
            width: 180px;
            margin-top: 50px;

            &__img1 {
                width: 140px;
            }

            &__img2 {
                width: 110px;
                top: 10px;
                right: 100px;
            }

            &__img3 {
                width: 10px;
                top: 40px;
                right: 194px;
            }

            &__img4 {
                width: 55px;
                top: -4px;
                right: 193px;
            }

            &__img5 {
                width: 23px;
                top: 8px;
                right: 209px;
            }
        }
    }


}



@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .adv__wrapper {
        font-size: 7px;
        height: 30px;
    }

    .promo {
        &__logo {
            display: none;
        }

        header {
            justify-content: center;
            align-items: start;
        }

        &__nav {
            gap: 10px;
            margin-top: 10px;

            &__item {
                font-size: 10px;
            }
        }

        &__detail {
            display: none;
        }

        &__info {
            margin-left: 33%;
            margin-top: 110px;
        }

        .info_title {
            font-size: 30px;
            line-height: 50px;
        }

        .info_title_mod {
            transform: translateX(-50px);
        }

        .info_text {
            width: 200px;
        }

        &__footer {
            margin-top: 30px;
        }
    }

    .menu {
        padding: 0px 10px 0px 10px;

        .wrapper__position {
            margin-top: 100px;
        }

        .shop_img {
            width: 240px;
        }

        .main_list {
            font-size: 26px;
            margin-top: 70px;
        }

        .list_descr {
            left: 210px;
        }

        .position {
            top: 80px;
            left: -150px;
        }
    }

    .welcome {
        padding: 50px 0 150px 0;

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__descr {
            margin-bottom: 50px;
        }

        &__images {
            display: flex;
            justify-content: center;
            order: 3;

            &__img3 {
                position: static;
                transform: translateX(13%);
            }

            &__img2 {
                right: 190px;
                top: 145px;
            }

            &__img1 {
                top: 19px;
                left: -14px;
            }

            &__img4 {
                top: 251px;
                left: 39px;
            }
        }
    }

    .care {
        padding: 0px 0 130px 0;

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__item {
            width: 100%;
        }

        &__images {
            margin-top: 60px;
            width: 200px;
            height: 164px;
            margin-bottom: 40px;
        }

        &__img {
            position: static;
            order: 3;

            &__main {
                width: 100%;
            }

            &__magic {
                position: absolute;
                top: 798px;
                right: -3px;
            }
        }

        &__descr-second {
            position: static;
            margin-bottom: 40px;
        }
    }


}